@use 'sass:map';

@use 'styles/mixins/mixins' as *;
@use 'styles/mixins/var' as *;
@use 'styles/common/var' as *;

@include b(search) {
  display: flex;
  justify-content: space-between;

  @include e(input) {
    border: none;
    outline: none;
    border-radius: 12px;
    background-color: map.get($vsColor, 'gray-2');
    color: map.get($vsColor, text);
    padding: 8px 12px;
    width: 300px;
    transition: all 0.25s ease;
    font-size: 14px;

    &::placeholder {
      opacity: 0.5;
    }

    &:focus {
      padding-left: 16px;
    }
  }

  @include e(button) {
    padding: 12px 26px;
    background-color: $color-primary;
    color: $color-white;
    border-radius: 12px;
  }
}
